- soy.namespace 'omm.ui.JwplayerDefaultStyleTemplates'

:soydoc
  Contenedor del reproductor
  @param  player_id Id del espacio del reproductor
  @param  size      Tamaño del contenedor
- soy.template 'container' do
  %div{:class => 'openmultimedia-components-jwplayerdefaultstyle-player', :id => "{$player_id}", :style => "width: {$size.width}px; height: {$size.height}px;"}
